In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/mahat/TtestExample/master/dataset/MPG_DataSet.csv", sep=";")

In [6]:
df.shape

(249, 2)

In [7]:
df

     USA  Japan
0     18     24
1     15     27
2     18     27
3     16     25
4     17     31
..   ...    ...
244   27   -999
245   27   -999
246   32   -999
247   28   -999
248   31   -999

[249 rows x 2 columns]

In [14]:
df.isna().sum()

USA      0
Japan    0
dtype: int64

In [19]:
USAMpg = df['USA'].values
type(USAMpg)

numpy.ndarray

In [23]:
JapanMpg = df['Japan']

In [24]:
JapanMpg = JapanMpg[JapanMpg != -999].values

In [25]:
JapanMpg

array([24, 27, 27, 25, 31, 35, 24, 19, 28, 23, 27, 20, 22, 18, 20, 31, 32,
       31, 32, 24, 26, 29, 24, 24, 33, 33, 32, 28, 19, 32, 34, 26, 30, 22,
       22, 33, 39, 36, 28, 27, 21, 24, 30, 34, 32, 38, 37, 30, 31, 37, 32,
       47, 41, 45, 34, 33, 24, 32, 39, 35, 32, 37, 38, 34, 34, 32, 33, 32,
       25, 24, 37, 31, 36, 36, 34, 38, 32, 38, 32], dtype=int64)

In [29]:
print("USA data length %d" %len(USAMpg))
print("Japan data length %d" %len(JapanMpg))

print("USA data mean %f" %USAMpg.mean())
print("Japan data mean %f" %JapanMpg.mean())

USA data length 249
Japan data length 79
USA data mean 20.144578
Japan data mean 30.481013

In [30]:
np.var(USAMpg)

40.98311317559395

In [31]:
from scipy.stats import ttest_ind

In [34]:
significance = 0.05
t, p = ttest_ind(USAMpg, JapanMpg, equal_var=False)
print("t-value = %g p-value=%g alpha=%g" %(t,p,significance))


if p<significance:
    print("Reject null hypothesis - Mean MPG of USA and Japan are not equal")
else:
    print("Failed to rejet null hypothesis")

t-value = -12.9463 p-value=1.57085e-25 alpha=0.05
Reject null hypothesis - Mean MPG of USA and Japan are not equal